In [91]:
import pandas as pd
import matplotlib.pyplot as plt

df = pd.read_csv('D:\\Projects\\kaggle_space_titanic\\data\\train.csv')

__Data Field Descriptions__
- __PassengerId__ - Each Id takes the form gggg_pp where gggg indicates a group the passenger is travelling with and pp is their number within the group.
- __HomePlanet__ - The planet the passenger departed from, typically their planet of permanent residence.
- __CryoSleep__ - Indicates whether the passenger elected to be put into suspended animation for the duration of the voyage. Passengers in cryosleep are confined to their cabins.
- __Cabin__ - Takes the form deck/num/side, where side can be either P for Port or S for Starboard.
- __Destination__ - The planet the passenger will be debarking to.
- __Age__ - The age of the passenger.
- __VIP__ - Whether the passenger has paid for special VIP service during the voyage.
- __RoomService__, __FoodCourt__, __ShoppingMall__, __Spa__, __VRDeck__ - Amount the passenger has billed at each of the Spaceship Titanic's many luxury amenities.
- __Name__ - The first and last names of the passenger.
- __Transported__ - Whether the passenger was transported to another dimension. This is the target, the column you are trying to predict.

In [92]:
# transform categorical columns to onehot
cat_col = ['HomePlanet', 'Destination']
cat_col_abrv = ['Home', 'Dest']
for i, col in enumerate(cat_col):
    temp_d = pd.get_dummies(df[col], prefix=cat_col_abrv[i])
    df = pd.merge(left=df, right=temp_d, left_index=True, right_index=True)
    df = df.drop(columns=col)

# transform boolean to binary
bool_col = ['CryoSleep', 'VIP', 'Transported']
df[bool_col] *= 1

df

,PassengerId,CryoSleep,Cabin,Age,VIP,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck,Name,Transported,Home_Earth,Home_Europa,Home_Mars,Dest_55 Cancri e,Dest_PSO J318.5-22,Dest_TRAPPIST-1e
0,0001_01,0,B/0/P,39.0,0,0.0,0.0,0.0,0.0,0.0,Maham Ofracculy,0,0,1,0,0,0,1
1,0002_01,0,F/0/S,24.0,0,109.0,9.0,25.0,549.0,44.0,Juanna Vines,1,1,0,0,0,0,1
2,0003_01,0,A/0/S,58.0,1,43.0,3576.0,0.0,6715.0,49.0,Altark Susent,0,0,1,0,0,0,1
3,0003_02,0,A/0/S,33.0,0,0.0,1283.0,371.0,3329.0,193.0,Solam Susent,0,0,1,0,0,0,1
4,0004_01,0,F/1/S,16.0,0,303.0,70.0,151.0,565.0,2.0,Willy Santantines,1,1,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8688,9276_01,0,A/98/P,41.0,1,0.0,6819.0,0.0,1643.0,74.0,Gravior Noxnuther,0,0,1,0,1,0,0
8689,9278_01,1,G/1499/S,18.0,0,0.0,0.0,0.0,0.0,0.0,Kurta Mondalley,0,1,0,0,0,1,0
8690,9279_01,0,G/1500/S,26.0,0,0.0,0.0,1872.0,1.0,0.0,Fayey Connon,1,1,0,0,0,0,1
8691,9280_01,0,E/608/S,32.0,0,0.0,1049.0,0.0,353.0,3235.0,Celeon Hontichre,0,0,1,0,1,0,0
8692,9280_02,0,E/608/S,44.0,0,126.0,4688.0,0.0,0.0,12.0,Propsh Hontichre,1,0,1,0,0,0,1